<?xml version="1.0"?>
<configuration>

	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root>
		<level value="warn"/>
		<appender-ref ref="console"/>
	</root>

	<!-- 每天生成一个日志文件，保存30天的日志文件 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/risk/apps/log_latest_riskassessment.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/risk/apps/log_history_riskassessment/log_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n</pattern>
		</encoder>
	</appender>
	<root>
		<level value="info"/>
		<appender-ref ref="file"/>
	</root>


	<logger name="riskassessment" level="info" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</logger>
</configuration>